
@{
    ViewData["Title"] = "Messenger";
}

<h3>Inbox</h3>

<hr />
<h3>Send Message</h3>
<textarea style="width: 300px;" class="form-control" rows="3"></textarea>
<a class="btn btn-success">Send Message</a>