<!-- https://getbootstrap.com/docs/3.3/getting-started/ Bootstrap 3.3.7 docs-->
@{
    ViewData["Title"] = "Messenger";
}

<h3>Inbox <span class="badge">0</span></h3>

<hr />
<div style="width: 300px">
    <h3>Send Message</h3>
    <input class="form-control" placeholder="Enter username"/>
    <textarea class="form-control" rows="3" placeholder="Enter message"></textarea>
    <a class="btn btn-success btn-sm pull-right clearfix">Send</a>
    <br />
</div>