<!-- https://getbootstrap.com/docs/3.3/getting-started/ Bootstrap 3.3.7 docs-->
@{
    ViewData["Title"] = "Messenger";
}

<div class="row">
    <div class="col-lg-8">
        <h3>Inbox <span class="badge">0</span></h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Message from Username</h3>
            </div>
            <div class="panel-body">
                Message content might go here
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Send Message</h3>
        <input class="form-control" placeholder="Enter username"/>
        <textarea class="form-control" rows="3" placeholder="Enter message"></textarea>
        <a class="btn btn-success btn-sm pull-right clearfix">Send</a>
    </div>
</div>